
body { 
    background: #fff url(background-student.png)  no-repeat;
    background-size: cover; 
	margin: 0; 
	padding: 0;
    }


header{
    position: sticky;
    z-index: 3;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: 3% 15% 7% 60% 15%;
    grid-template-rows: 20%;
    height: 8.5vh;
    justify-content: space-around;
    background-image: linear-gradient(to bottom, rgb(210, 197, 241), rgb(48, 22, 110));
    box-shadow: 0em 0.3em 0.7em 0em #2b0047;

}

header .titleLogo{
    grid-column-start: 2;
    grid-column-end: 4;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

header #title{
    position: relative;
    color: #300653; 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2vw; 
    font-weight: normal; 
    line-height: 2vh;  
    align-content: center;
    text-shadow: 0.2vw 0.1vw 0.1vw #b5a2be;
   
    margin-top: 3vh;
}

header #logo{
    background: url(wildcat.png) no-repeat;
    width: 2.5vw;
    height: 5vh;
    margin-top: 1.2vh;
    box-shadow: 0.2vw 0.2vw 0.2vw #b5a2be;
    border-radius: 40%;

}
header .vertical{
    height: 8vh;
    border-right: 0.7vw solid #0b2783;
    box-shadow: 1.1vw 0vw 0.4vw rgb(41, 38, 230);
    position: relative;
    right: 1.7vw;
}

header .searchBar{
    position:relative;
    line-height: 2vw; 
    margin-top: 1.2 vw;
    height:0.5vw;
}

header .searchBar input:nth-of-type(1){
    width: 15vw;
    height: 2.3vh;
    align-content: center;
    position: absolute;
    font-size:1vw;
}

header .searchBar input:nth-of-type(2){
    
    block-size: 2.0vw;
    
    position: absolute;
    
    text-align: center;
    right: 44.5vw;
    

}
header .userMenu
{
    grid-column-start: 5;
    display: flex;
    flex-direction: row;
    align-content: center;
    position: relative;
    line-height: 2vh;  
    margin-top: 3vh;
}

header .userMenu .userName
{
color: #300653; 
font-size: 1vw; 
font-weight: normal; 

}

header .userMenu .arrow .hoverbtn
{
    color: #050207;
    font-size: 1vw; 
    transform: rotate(180deg);
    border: none;
}

header .userMenu .arrow
{
    margin-left: 0.3vw;
} 

header .userMenu .arrow .hoverContent {
    display: none;
    position: absolute;
    right: -45px;
    top: 30px;
    background-color: #f1f1f1;
    min-width: 140px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

header .userMenu .arrow .hoverContent a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}  

header .userMenu .arrow .hoverContent a:hover {background-color: #ddd;}

header .userMenu .arrow:hover .hoverContent {display: block;}

header .userMenu .arrow:hover .hoverbtn {color: grey;}
