
body { 
    height: 500px;
    background: #fff url(background-student.png)  no-repeat;
    background-size: cover; 
	margin: 0; 
	padding: 0;
    }


header{
    position: sticky;
    z-index: 999;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: 3% 15% 7% 60% 15%;
    grid-template-rows: 60px;
    justify-content: space-around;
    background-image: linear-gradient(to bottom, rgb(210, 197, 241), rgb(48, 22, 110));
    box-shadow: 0px 2px 4px 0px #2b0047;

}

header .titleLogo{
    grid-column-start: 2;
    grid-column-end: 4;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

header #title{
    color: #300653; 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 35px; 
    font-weight: normal; 
    line-height: 10px; 
    margin-bottom: 5px; 
    margin-left: 20px;
    text-align: space-around; 
    text-shadow: 2px 2px 2px #b5a2be;
}

header #logo{
    background: url(wildcat.png) no-repeat;
    width: 40px;
    height: 40px;
    margin-top: 9px;
    box-shadow: 2px 2px 2px #b5a2be;
    border-radius: 40%;

}
header .vertical{
    height: 60px;
    border-right: 10px solid #0b2783;
    box-shadow: 15px 1px 2px rgb(41, 38, 230);
    position: relative;
    right: 20px;
}

header .searchBar{
    padding-top: 2%;
}

header .searchBar input:nth-of-type(2){
    width: 2%;
    height: 40%;
    position: relative;
    right: 2.5%;
    top:8%;
}
header .userMenu
{
    grid-column-start: 5;
    display: flex;
    flex-direction: row;
    margin-top: 8%;
}

header .userMenu .userName
{
    color: #18083d
}

header .userMenu .arrow .hoverbtn
{
    color: #050207;
    font-size: 125%; 
    line-height: 80%; 
    transform: rotate(180deg);
    border: none;
}

header .userMenu .arrow
{
    position: relative;
    left: 3%;
} 

header .userMenu .arrow .hoverContent {
    display: none;
    position: absolute;
    right: -45px;
    top: 30px;
    background-color: #f1f1f1;
    min-width: 140px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

header .userMenu .arrow .hoverContent a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}  

header .userMenu .arrow .hoverContent a:hover {background-color: #ddd;}

header .userMenu .arrow:hover .hoverContent {display: block;}

header .userMenu .arrow:hover .hoverbtn {color: grey;}
