*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body
{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-image: url("../images/background-student.png");
    background-size: cover;
    background-attachment: fixed;
}

.container{
    margin-top: 5vw;
    display: grid;
    grid-template-columns:30vw 30vw;
    grid-column-gap: 5vw;
    grid-row-gap: 5vw;
    justify-content: center;
    grid-template-rows: 15vw 15vw;
    grid-template-areas: 
    "cLanguage javaLanguage"
    "theory frontend";
    font-size: 1.5vw;
    color: black;
}

.appBox{
    display: grid;
    grid-template-columns: 10vw 10vw;
    grid-template-rows: 5vw;
    justify-content: center;
    text-align: center;
}

.cLanguage{
    grid-area: cLanguage; 
    background: #74b9ff;
    border: 0.2vw solid #a29bfe;
    opacity: 0.95;
    text-align: left;
}

.cLanguage:hover{
    grid-area: cLanguage; 
    background-color: #a29bfe;
    opacity: 0.8;
    transition: 1s;
    border-radius: 5%;
}

.vs, .clion, .intellij, .eclipse, .latex, .overleaf, .vscode, .brackets{
    width: 6vw;
    height: 6vw;
}

.vs:hover, .clion:hover, .intellij:hover, .eclipse:hover, .latex:hover, .overleaf:hover, .vscode:hover, .brackets:hover{
    border-radius: 10px;
    transform: rotate(10deg);
    transition: 0.3s;
}

.javaLanguage{
    grid-area: javaLanguage;
    background: #74b9ff;
    border: 0.2vw solid #a29bfe;
    opacity: 0.95;
    text-align: left;
}

.javaLanguage:hover{
    grid-area: javaLanguage; 
    background-color: #a29bfe;
    opacity: 0.8;
    transition: 1s;
    border-radius: 5%;
}

.theory{
    grid-area: theory;
    background: #74b9ff;
    border: 0.2vw solid #a29bfe;
    opacity: 0.95;
    text-align: left;
}

.theory:hover{
    grid-area: theory; 
    background-color: #a29bfe;
    opacity: 0.8;
    transition: 1s;
    border-radius: 5%;
}

.frontend{
    grid-area: frontend;
    background: #74b9ff;
    border: 0.2vw solid #a29bfe;
    opacity: 0.95;
    text-align: left;
}

.frontend:hover{
    grid-area: frontend; 
    background-color: #a29bfe;
    opacity: 0.8;
    transition: 1s;
    border-radius: 5%;
}

p{
    text-align: center;
    padding-bottom: 2vw;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

@media only screen and (max-width:1050px){
    .container{
        margin-top: 3vw;
        display: grid;
        grid-template-columns:70vw; 
        grid-row-gap: 10vw;
        justify-content: center;
        /* grid-template-rows: 50vw; */
        grid-template-areas: 
        "cLanguage" 
        "javaLanguage"
        "theory" 
        "frontend";
        color: black;
        font-size: 2.5vw;
    }

    .appBox{
        display: grid;
        grid-template-columns: 20vw 20vw;
        grid-template-rows: 10vw;
        justify-content: center;
        text-align: center;
    }

    .vs, .clion, .intellij, .eclipse, .latex, .overleaf, .vscode, .brackets{
        width: 7vw;
        height: 7vw;
    }

}

@media only screen and (max-width:550px){

    .container{
        margin-top: 5vw;
        display: grid;
        grid-template-columns:97vw; 
        grid-row-gap: 10vw;
        justify-content: center;
        grid-template-areas: 
        "cLanguage" 
        "javaLanguage"
        "theory" 
        "frontend";
        color: black;
        font-size: 4vw;
    }

    .appBox{
        display: grid;
        grid-template-columns: 10vw 10vw;
        grid-template-rows: 10vw;
        justify-content: center;
        text-align: center;
    }

    .vs, .clion, .intellij, .eclipse, .latex, .overleaf, .vscode, .brackets{
        width: 5vw;
        height: 5vw;
    }
    
}