body
{
    margin: 0%;
}

header 
{
    position: sticky;
    z-index: 3;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: 3% 15% 7% 55% 20%;
    height: 8.5vh;
    justify-content: space-around;
    background-image: linear-gradient(#2a1368, #0d1731);
    box-shadow: 0px 2px 4px 0px #470000;
}

header .titleLogo
{
    grid-column-start: 2;
    grid-column-end: 4;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

header #title
{
    color: #00bda4; 
    font-family: 'Comic Sans MS', cursive, sans-serif;
    font-size: 2vw; 
    font-weight: normal; 
    line-height: 8vh; 
    margin-bottom: 3vh; 
    text-align: center; 
    text-shadow: 6px 6px 6px #7a0000;
}

header #logo
{
    width: 2.3vw;
    height: 5vh;
    margin-top: 1.7vh;
    box-shadow: 4px 4px 6px #7a0000;
    border-radius: 40%
}

header .vertical
{
    height: 8.7vh;
    border-right: 0.7vw solid #00bda4;
    box-shadow: 0.9vw 0px 6px #7a0000;
    position: relative;
    right: 1vw;
}

header .searchBar
{
    width: 15vw;
    margin-top: 3vh;
    grid-column-start: 4;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

header .searchBar .searchPhoto
{
    width: 10%;
    height: 3vh;
    position: relative;
    right: 1.4vw;
    bottom: 0.1vh;
}

header .searchBar .textSearch
{
    width: 100%;
    height: 2vh;
}

header .userMenu
{
    grid-column-start: 5;
    display: flex;
    flex-direction: row;
    margin-top: 2.7vh;
}

header .userMenu .userName
{
    font-family: 'Comic Sans MS', cursive, sans-serif;
    font-size: 1vw; 
    color: #00bda4
}

header .userMenu .arrow .hoverbtn
{
    color: #b40000;
    font-size: 3vh; 
    line-height: 2.5vh; 
    transform: rotate(180deg);
}

header .userMenu .arrow
{
    position: relative;
    left: 0.3vw;
} 

header .userMenu .arrow .hoverContent {
    display: none;
    position: absolute;
    right: -4.3vw;
    top: 3vh;
    background-color: #f1f1f1;
    min-width: 9vw;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

header .userMenu .arrow .hoverContent a {
    color: black;
    padding: 1vw 1.5vw;
    text-decoration: none;
    display: block;
}  

header .userMenu .arrow .hoverContent a:hover {background-color: #ddd;}

header .userMenu .arrow:hover .hoverContent {display: block;}

header .userMenu .arrow:hover .hoverbtn {color: grey;}


html,main{
    position: relative;
    background-image: url("casey-horner-339855-unsplash.jpg");
    background-position:top;
    background-attachment: fixed;
    background-size:100% 100%;
   height:100vw;
   background-repeat: no-repeat;
}
.main-content{
    position:absolute;
    top:0px;
    background-size:80%;
    background:#2c3e50d3;
    height:250vw;
    width:50%;
    right:25%;
}
.main-content h1:hover{
    background-color: #00bda4;
    border-style:solid;
    border-color: #bdc3c7;
    border-radius: 0%;
    font-style: oblique
    
}
.main-content h1{
  
    
    background: #a035ce;
    border-style: solid;
    border-color: #95a5a6;
    border-radius: 10%;
    transition:0.5s;
    padding:2%;
    padding-right:10%;
    position:relative;
    width:25.0vw;
    height:2vw;
    left:15%;
    top:0.5%;
   
    font-family: "Rockwell Extra Bold", "Rockwell Bold", monospace; 
    font-style: normal; font-variant: normal;
    height:3vw;   
    bottom:5vw;
   
}
h1 + .content {
    
    display:grid;  
    grid-template-rows: 20% 20% 20% 20% 20%;
    grid-gap:1vw;
    width:40vw;
    left:80vw;
}
.content article:hover,.main-content #backArrow:hover{
    background-color:rgb(100, 169, 173);
    border-style:solid;
    border-color: #8e44ad;
    border-width: 1%;
    border-radius: 0%;
    font-style: oblique;
}
.content article{
    transition:0.5s;
    font-family: "Rockwell Extra Bold", "Rockwell Bold", monospace; 
    font-style: normal; font-variant: normal;
    font-size:2vw;
        height:10vw;   
  margin-left:3vw;
  background-color: #95a5a642;
    border-style:solid;
    border-color: #bdc3c7;
    border-radius: 10%;
    padding:2.5vw;

}
article input{
    height:4vw;
    width:27vw;
    left:500vw;
    font-family: "Rockwell Extra Bold", "Rockwell Bold", monospace; 
    font-style: normal; font-variant: normal;
}
#button:hover{
    background-color:rgb(100, 169, 173);
    border-style:solid;
    border-color: #8e44ad;
    border-width: 1%;
    border-radius: 10%;

}
#button{
    transition:0.5s;
   margin-top:2vw;
    height:2vw;
    width:5vw;
    background-color:#2c3e50;   
    border-radius:35%;
    border-style:solid;
    border-color: #bdc3c7;

}

.title{
    height:1vw;
}
#studies:focus,#contacts:focus,#reasearches:focus,#interests:focus,#descriptions:focus{
  background-color: #8d44ad65;
  font-family: "Rockwell Extra Bold", "Rockwell Bold", monospace; 
  font-style: normal; font-variant: normal;
  font-style: oblique

}

#studies,#contacts,#reasearches,#interests,#descriptions{
    transition:0.5s;
    border-style:10px solid;
    border-color: #27ae60;
}
.main-content #backArrow{
transition:0.5s;
position: absolute;
top:4vw;
left:1vw;
height:2vw;
width:5vw;
text-align:center;
font-family: "Rockwell Extra Bold", "Rockwell Bold", monospace; 
font-style: normal; font-variant: normal;
background-color: #95a5a642;
 border-style:solid;
 border-color: #bdc3c7;
border-radius: 20%;

}
@media only screen and (max-width:1200px) and (min-width:1000px)
{
    html,.main,.main-content{
        height:100%;
    }
    .main-content{
        height:100vw;
    }
    .main-content #backArrow{
        transition:0.5s;
        position: absolute;
        font-size: 1vw;
        left:1vw;
        height:2vw;
        width:5vw;
        
        
        }
    #studies,#contacts,#reasearches,#interests,#descriptions{
        font-size:2vh;
    }
    #button{
        transition:0.5s;
       margin-top:0.5vh;
        height:3.5vw;
        width:10vw;
        font-size:1.0vw;

        
    
    }
    
    article input{
        height:2vw;
        width:30vw;
        left:500vw;
        font-size:10vh;
    }
    .content article{
      height:10vw;   
      margin-left:3vw;
      padding:2.5vw;
      font-size:3vw;    
    
    }
    .main-content h1{
        
        padding:2%;
        padding-right:10%;
        position:relative;
        width:25.0vw;
        height:2vw;
        left:15%;
        top:0.1%;
        font-size:2.5vw;
    }
    h1 + .content {
    
        display:grid;  
        grid-template-rows: 20% 20% 20% 20% 20%;
        grid-gap:1vw;
        width:44vw;
        left:100vw;
    }   
    header 
    {
        position: sticky;
        z-index: 3;
        top: 0;
        left: 0;
        display: grid;
        grid-template-columns: 3% 25% 7% 35% 30%;
        height: 8.5vh;
        justify-content: space-around;
        background-image: linear-gradient(#35008b, #1c2541);
        box-shadow: 0px 2px 4px 0px #470000;
    }

    header #title
    {
        color: #00bda4; 
        font-family: 'Comic Sans MS', cursive, sans-serif;
        font-size: 3vw; 
        font-weight: normal; 
        line-height: 8vh; 
        margin-bottom: 3vh; 
        text-align: center; 
        text-shadow: 6px 6px 6px #7a0000;
    }

    header #logo
    {
        width: 3vw;
        height: 5vh;
        margin-top: 1.7vh;
        box-shadow: 4px 4px 6px #7a0000;
        border-radius: 40%
    }

    header .searchBar
    {
        width: 16vw;
        margin-top: 3vh;
        grid-column-start: 4;
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
    }

    header .searchBar .searchPhoto
    {
        width: 10%;
        height: 3vh;
        position: relative;
        right: 15%;
        bottom: 0.1vh;
    }

    header .userMenu .userName
    {   
        font-family: 'Comic Sans MS', cursive, sans-serif;
        font-size: 1.3vw; 
        color: #00bda4
    }
}


@media only screen and (min-width:550px) and (max-width:1000px)
{
    html,.main,.main-content{
        height:100%;
    }
    .main-content{
        height:100vw;
    }
    .main-content #backArrow{
        transition:0.5s;
        top:3vh;
        font-size: 1vh;
        left:1vw;
        height:2.5vw;
        width:5vw;
        
        
        }
    #studies,#contacts,#reasearches,#interests,#descriptions{
        font-size:2vh;
    }
 #button{
        
        transition:0.5s;
         margin-top:0vh;
        height:2.5vw;
        width:10vw;
        font-size:1.5vw;

        
    
    }
    
    article input{
        height:2vw;
        width:30vw;
        left:500vw;
    }
    .content article{
      height:10vw;   
      margin-left:3vw;
      padding:2.5vw;
      font-size:3vw;    
    
    }
    .main-content h1{
        
        padding:2%;
        padding-right:10%;
        position:relative;
        width:25.0vw;
        height:2vw;
        left:15%;
        top:0.1%;
        font-size:2.1vw;
    }
    h1 + .content {
    
        display:grid;  
        grid-template-rows: 20% 20% 20% 20% 20%;
        grid-gap:1vw;
        width:44vw;
        left:100vw;
    }   

    header 
    {
        position: sticky;
        z-index: 3;
        top: 0;
        left: 0;
        display: grid;
        grid-template-columns: 3% 25% 15% 30% 25%;
        height: 8.5vh;
        justify-content: space-around;
        background-image: linear-gradient(#35008b, #1c2541);
        box-shadow: 0px 2px 4px 0px #470000;
    }

    header #title
    {
        color: #00bda4; 
        font-family: 'Comic Sans MS', cursive, sans-serif;
        font-size: 3.5vw; 
        font-weight: normal; 
        line-height: 8vh; 
        margin-bottom: 3vh; 
        text-align: center; 
        text-shadow: 6px 6px 6px #7a0000;
    }

    header #logo
    {
        width: 4vw;
        height: 5vh;
        margin-top: 1.7vh;
        box-shadow: 4px 4px 6px #7a0000;
        border-radius: 40%
    }

    header .vertical
    {
        height: 8.7vh;
        border-right: 0.9vw solid #00bda4;
        box-shadow: 0.9vw 0px 6px #7a0000;
        position: relative;
        right: 1vw;
    }

    header .searchBar
    {
        width: 22vw;
        margin-top: 3vh;
        grid-column-start: 4;
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
    }

    header .searchBar .searchPhoto
    {
        width: 10%;
        height: 3vh;
        position: relative;
        right: 18%;
        bottom: 0.1vh;
    }

    header .userMenu .userName
    {   
        font-family: 'Comic Sans MS', cursive, sans-serif;
        font-size: 2vw; 
        color: #00bda4
    }
}

@media only screen and (max-width:550px)
{
  
    html,.main{
        height:70vw;
    }
    .main-content{
        height:110vw;
    }
    .main-content #backArrow{
        transition:0.5s;
        position: absolute;
        top:1.5vw;
        font-size: 0.8vh;
        left:1vw;
        height:2vh;
        width:5vw;
        
        
        }
    #studies,#contacts,#reasearches,#interests,#descriptions{
        font-size:1vh;
    }
    #button{
        
        transition:0.5s;
         margin-top:0.5vh;
        height:2.5vw;
        width:11vw;
        font-size:1.2vw;

        
    
    }
    
    article input{
        height:2vw;
        width:30vw;
        left:500vw;
    }
    .content article{
      height:10vw;   
      margin-left:3vw;
      padding:2.5vw;
      font-size:3vw;    
    
    }
    .main-content h1{
        
        padding:2%;
        
        position:relative;
        width:30.0vw;
        height:2vw;
        left:15%;
        top:0.1%;
        font-size:2.0vw;
    }
    h1 + .content {
    
        display:grid;  
        grid-template-rows: 20% 20% 20% 20% 20%;
        grid-gap:1vw;
        width:44vw;
        left:100vw;
    }  
    header 
    {
        position: sticky;
        z-index: 3;
        top: 0;
        left: 0;
        display: grid;
        grid-template-columns: 3% 20% 30% 27% 20%;
        height: 8.5vh;
        justify-content: space-around;
        background-image: linear-gradient(#35008b, #1c2541);
        box-shadow: 0px 2px 4px 0px #470000;
    }

    header #title
    {
        color: #00bda4; 
        font-family: 'Comic Sans MS', cursive, sans-serif;
        font-size: 5vw; 
        font-weight: normal; 
        line-height: 8vh; 
        margin-bottom: 3vh; 
        text-align: center; 
        text-shadow: 6px 6px 6px #7a0000;
    }

    header #logo
    {
        width: 5.5vw;
        height: 5vh;
        margin-top: 1.7vh;
        box-shadow: 4px 4px 6px #7a0000;
        border-radius: 40%
    }

    header .vertical
    {
        height: 8.7vh;
        border-right: 0.9vw solid #00bda4;
        box-shadow: 0.9vw 0px 6px #7a0000;
        position: relative;
        right: 1vw;
    }

    header .searchBar
    {
        width: 22vw;
        margin-top: 3vh;
        grid-column-start: 4;
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
    }

    header .searchBar .searchPhoto
    {
        width: 10%;
        height: 3vh;
        position: relative;
        right: 21%;
        bottom: 0.1vh;
    }

    header .userMenu .userName
    {   
        font-family: 'Comic Sans MS', cursive, sans-serif;
        font-size: 3vw; 
        color: #00bda4
    }
}

